<div class="ui secondary  menu">
  <a class="active item">
    Welcome Admin!
  </a>
  <%= link_to 'Poster CRUD', posters_path, class:'item' %>
  <%= link_to 'All orders', admin_orders_path, class: 'item' %>
  <%= link_to 'Analisys', analisys_path_url, class: 'item' %>
  <div class="right menu">
      <%= link_to 'Logout', admin_logout_path, class:'ui item' %><br>
  </div>
</div>
