<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We registred your order!</h1>
    <p><%=link_to "Click here", :host => 'localhost:3000' ,controller: 'orders', action:'index'%> to see all infos!</p>
  </body>
</html>
