<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You canceled your order  #<%=@order.id%>!</h1>
    <p>We will contact you as soon as posible!</p>
  </body>
</html>
