<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your voucher number!</h1>
    <p>Voucher: <%=@voucher%></p>
    <p>Value: $<%=@order.total_price%></p>
  </body>
</html>
